* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(10, 63, 65);  
}

.menu{
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
    position: relative;
}

.menu a {
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: darkslategray;
    
}

.submenu{
    position: absolute;
    width: 120%;
    background: rgb(10, 63, 65);
    display: none;
    visibility: hidden;
    
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
    visibility: visible;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    object-fit: cover;
}
.contenido{
    background-color: #c9ab00;
    background-size: cover;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 9px #0e1011;
    display: flex;
    align-items: center;
}
.articulos{
    width: 80%;
    border-right: 3px solid black;

}
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}


footer{
    
    width: 100%;
    height: 200px;
    background-color: darkslategray ;
    color: white ;
    
    display: inline-block;
}

footer p{
    text-align: right;
    padding:8px;
}

.facebook{
    padding: auto;
    float: left;
}
.instagram{
    padding: auto;
    
    float: left;
}

.alone{
    width: 30px;
    height: auto;
    position: relative;
}