*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*cambia el modelo de la pagina*/
}
html{
    background-image: url(/imagenes/banderafriyi.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 999px;
    background-attachment: fixed;/*hace q la imagen quede estatica*/
    background-size: cover;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;/*adapatarse y sobrevivir*/
    min-height: 100%;/*q ocupe toda la pantalla*/
}
body{
    gap: 10px;
    grid: 
    "nav"
    "footer"
    "section"
    ;
}

.nav {
    background-color: #1c2f3d
}

.nav {
    text-align: center;
    margin: 0;
}
img{
    width: 60px;
    height: auto;
    position: relative;
}
.nav li {
    display: inline-block;
}

.nav a {
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav a:hover {
    background-color:#427192;
}
.section{
    grid-area: section;
    background-color: rgba(138, 123, 123, 0);
}
.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img1{
    width: 500px;
    height: auto;
}

.footer{
    grid-area: footer;
    background-color: rgb(192, 224, 11);
}
.facebook{
    width: 24px;
    float: right;
}
.instagram{
    
    width:24px;
    float: right;
}
.twitter{
    
    width: 24px;
    float: right;
}

@media(min-width:900px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows:100px auto 100px ;
        grid-template-areas:
        "header header header"
        "nav section aside"
        "footer footer footer";
    }
}