* {
    margin: 0;
}

body {
    background-color:rgb(113, 151, 151);
}
nav {
    background-color: rgb(10, 63, 65);
}

.menu {
    text-align: center;
    margin: 0;
}
img{
    width: 60px;
    height: auto;
    position: relative;
}
.menu li {
    display: inline-block;
}

.menu a {
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: darkslategray;
}
header{
    background-color: rgb(170, 215, 255);
    padding-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-align: center; 
    font-family: Arial Black; 
    /*font-weight: ; /*bold es negrita*/
    /*font-size:;*/ 
    text-shadow:-2px 0 #000, 0 2px rgb(51, 65,194), 2px 0 rgb(51, 65, 194), 0 -2px #000; /*aprenderte esto mirey*/
}

.informacion {
    color: azure;
}

article{
    display: block;
    background-color: rgb(203, 229, 252);
    padding: 40px;
    text-align: left;
    color: blue;
}
strong{
    color: darkblue;
    font-style: italic;
}
.tonganos{
    width: 370px;
    height: auto;
    padding: 10px;
    float: left;
}
.irwin{
    display: inline-block;
    background-color: rgb(196, 255, 252);
    padding: 50px;
    text-align: justify;
    color: rgb(32, 32, 218);
}
.cate1{
    display: inline-block;
    background-color: rgba(205, 233, 255, 0.89);
    padding: 50px;
    text-align: justify;
    color: rgb(32, 32, 218);
}
.steve{
    display: block;
    border-bottom: 10px;
    width: 240px;
    height: auto;
    float: left;
}
.cate{width: 240px;
    height: auto;
    float: left;
}
footer{
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.facebook{
    width: 24px;
    float: right;
}
.instagram{
    padding-right: 20px;
    width:24px;
    float: right;
}
.twitter{
    margin-inline: 20px;
    width: 24px;
    float: right;
}
.mapa_mundi{
    float: right;
    margin: 10%
}
.mapamundi{
    width: 400px;
    height: auto;
    margin: auto;
}
tr,td,th{
    align-items: center;
    border: 2px solid aquamarine;
}
table{
    align-items: center;
    border-collapse: collapse;
    border: 5px solid aquamarine;
}